pydantic>=2.12.4
pydantic-settings>=2.12.0
python-dotenv
openai>=2.8.1
torch<=2.8.0
faiss-cpu>=1.7.3
sentence_transformers>=4.41.0
requests>=2.31.0
lxml>=0.3.0
fastapi>=0.109.0
uvicorn[standard]>=0.27.0
pymongo>=4.6.0
ifcopenshell
ifctester
python-multipart
psutil>=5.9.0